@font-face {
    font-family: 'TT Commons';
    src: url('./font/TT\ Commons\ Bold.otf');
    font-weight: bold;
    font-style: normal;

}

body {
    font-family: 'TT Commons';
    margin: 0;
    padding: 0;
}

.container {
    width: 1260px;
    margin: 0 auto;
}

.header {
    margin-top: 13px;
    &__hr {
        height: 1px;
        border: none;
        background: rgb(227, 227, 232);
    }
    &__info {
        display: flex;
        gap: 30px;
    }
    .container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .input__search {
        width: 430px;
        height: 44px;
        box-sizing: border-box;
        border: 1px solid rgb(222, 222, 226);
        border-radius: 6px;
        background: rgb(244, 245, 247);
        outline: none;
        padding-left: 20px;
    }
    .input__input {
        img {
            position: relative;
            top: 3px;
            left: -36px;
        }
    }
    .info__city {
        gap: 10px;
        align-items: center;
        display: flex;
        color: rgb(27, 29, 31);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    a {
        color: rgb(27, 29, 31);
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        text-decoration: none;
    }
    .info__phone {
        gap: 10px;
        align-items: center;
        display: flex;
    }
    .info__user {
        gap: 10px;
        align-items: center;
        display: flex;
        color: rgb(27, 29, 31);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
}

.nav {
    padding-bottom: 12px;
    &__all-category {
        width: 168px;
        height: 44px;
        border-radius: 8px;
        background: rgb(107, 89, 204);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            padding: 6px 15px 6px 25px;
    }
    &__category {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 189px;
        height: 44px;
        border-radius: 8px;
        background: rgb(244, 245, 247);
    }
    &__basket {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: rgb(244, 245, 247);
        width: 167px;
        height: 44px;
        padding: 6px 15px 6px 25px;
    }
}


.main {
    .product-categories {
        // display: flex;
        // flex-direction: row;
        &__line {
            // display: flex;
            // flex-direction: column;

        }
        
        &__product-categorie {
            width: 419px;
            height: 100px;
            box-sizing: border-box;
            border: 1px solid rgb(232, 227, 227);
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
            background: rgb(255, 255, 255);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 22px;
            .img {
                margin-left: 36px;
            }
            h4 {
                color: rgb(27, 29, 31);
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                margin: 0 !important;
            }
            p {
                color: rgb(80, 82, 85);
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                margin: 0;
            }
        }
    }
}

.suppliers__bg {
    width: 426.67px;
    height: 100px;
    background-image: url('../images/suppliers-bg.png') center(center/cover) no-repeat;
    filter: blur(4px);
    opacity: 0.5;
}

.main {
    .line {
        display: flex;
    }
}


.categories {
    padding-bottom: 40px;
}


.oils {
    .line {
        display: flex;
        justify-content: space-between;
    }
    button {
        cursor: pointer;
        margin-top: 25px;
        // padding-left: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 177px;
        height: 40px;
        border-radius: 8px;
        background: rgb(244, 245, 247);
        border: none;
            color: rgb(89, 70, 215);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            gap: 24px;
    }
}

.section-title {
    color: rgb(27, 29, 31);
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.cards__card-repeat {
    width: 300px;
    height: 410px;
    box-sizing: border-box;
    /* #F4F5F7 */
    border: 1px solid rgb(244, 245, 247);
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
    /* #FFFFFF */
    background: rgb(255, 255, 255);
    .card__title {
        padding: 0 20px 0 20px;
        color: rgb(27, 29, 31);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin-top: -10px;
    }
    .line {
        justify-content: space-between;
        display: flex;
        padding: 0 20px 0 20px;
        .right {
            position: relative;
            left: 70px;
            top: 7px;
        }
        .left {
            .old-price {
                position: relative;
                top: -95px;
                right: -85px;
                text-decoration: line-through;
                color: rgb(122, 118, 128);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
            }
            .price {
                margin-top: 16px;
                color: rgb(27, 29, 31);
                font-size: 30px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }
    .main-img {
        display: block;
        margin: 0 auto;
        padding-top: 29px;
        padding-bottom: 14px;
    }
    .stars {
        display: flex;
        gap: 6px;
        align-items: center;
        .rate {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: rgb(28, 29, 30);
            span {
                color: rgb(95, 101, 105);
            }
        }
    }
    .vendor {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: rgb(122, 118, 128);
    }
}

.cards__card-image {
    width: 300px;
    height: 410px;
    border-radius: 10px;
    background: url("/images/oil-img.png");
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        p {
            padding-top: 30px;
            padding-left: 30px;
        }
}

.oils__cards {
    display: flex;
    gap: 20px;
}

.rect__cards {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    .cards__card {

        border: none;
        box-sizing: border-box;
        /* #DEDEE2 */
        border: 1px solid rgb(222, 222, 226);
        /* #FFFFFF */
        background: rgb(255, 255, 255);
        width: 407px;
        height: 250px;
        .card__img {
            margin-top: -165px;
        }
    }
    .card__title {
        color: rgb(27, 29, 31);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        padding-top: 30px;
        padding-left: 30px;
    }
    button {
        margin-top: 30px;
        margin-left: 30px;
        width: 129px;
        height: 40px;
        box-sizing: border-box;
        /* #2E1066 */
        border: 2px solid rgb(89, 70, 215);
        border-radius: 8px;
        /* #2E1066 */
        background: rgb(89, 70, 215);
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
    }
}


.recommendations {
    margin-top: 60px;
    &__cards {
        margin-top: 30px;
        display: flex;
        gap: 20px;
    }
}

.often {
    margin-top: 60px;
    &__cards {
        margin-top: 30px;
        display: flex;
        gap: 20px;
    }
}

.main-img {
    width: 220px;
    height: 220px;
}

.oil {
    width: 121px;
}


.footer {
    margin-top: 60px;
    background: rgb(47, 43, 74);
    &__hr {
                /* #FFFFFF */
        background: rgb(255, 255, 255);
        opacity: 0.15;
        height: 1px;
    }
    &__cols {
        display: flex;
        gap: 100px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: #F4F5F7;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    li {
        margin-top: 8px;
        text-wrap: nowrap;
        cursor: pointer;
    }
    h5 {
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }

    &__copy {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        .left {
            display: flex;
            gap: 118px;
        }
        .right {
            display: flex;
            gap: 30px;
        }
        .pay {
            align-items: center;
            gap: 18px;
            display: flex;
        }
    }
}

.cols {
    &__consultation {
        .top {
            display: flex;
            align-items: center;
            margin-top: 40px;
            width: 208px;
            height: 72px;
            box-sizing: border-box;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.1);
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
            span {
                color: rgb(244, 245, 247);
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
            img {
                margin-left: 21px;
            }
        }
        .left {
            margin-left: 10px;
        }
        .bottom {
            img {
                margin-top: 20px;
            }
            gap: 10px;
            display: flex;
            margin-top: 20px;
            color: rgb(244, 245, 247);
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }

}


.hr {
    background: rgb(255, 255, 255);
    opacity: 0.15;
    height: 1px;
    margin-top: 40px;
}